<a href="https://colab.research.google.com/github/Salinikb/Data-science-and-ML/blob/main/seriesdataframe_25_8_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

import numpy as np 
arr=np.array([10,15,18,22])
s = pd.Series(arr)
print(s)

0    10
1    15
2    18
3    22
dtype: int64

In [3]:
import pandas as pd

import numpy as np
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,
index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

In [4]:
import pandas as pd
s = pd.Series(50, index = [0,1,2,3,4])
print(s)

0    50
1    50
2    50
3    50
4    50
dtype: int64

In [6]:
import pandas as pd
d={'name':'hardik','iplteam' : 'mi','runs' : 1500}
s=pd.Series(d)
print(s)

name       hardik
iplteam        mi
runs         1500
dtype: object

In [7]:
import pandas as pd
s= pd.Series([1,2,3,4,5])
print('to multiply all values in a series by 2')
print('-------------')
print(s*2)
print("to find the square of all the values in a series")
print('---------')
print(s**2)
print('to print all the valyes in a series that are greater than 2')
print('-------')
print(s[s>2])

to multiply all values in a series by 2
-------------
0     2
1     4
2     6
3     8
4    10
dtype: int64
to find the square of all the values in a series
---------
0     1
1     4
2     9
3    16
4    25
dtype: int64
to print all the valyes in a series that are greater than 2
-------
2    3
3    4
4    5
dtype: int64

In [31]:
import pandas as pd
s1 = pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
s2 = pd.Series([10,20,30,40,50],index=['a','b','c','d','e'])
s3 = pd.Series([6,14,23,32],index = ['a','b','c','d'])
print('to add series 1 & serie2')
print('----')
print(s1+s2)
print('to add series2 & series3')
print ('---') 
print(s2+s3)
print('to add series2 and series3 and filled non matching index with 0')
print('------')
print(s2.add(s3,fill_value = 0))

to add series 1 & serie2
----
a    11
b    22
c    33
d    44
e    55
dtype: int64
to add series2 & series3
---
a    16.0
b    34.0
c    53.0
d    72.0
e     NaN
dtype: float64
to add series2 and series3 and filled non matching index with 0
------
a    16.0
b    34.0
c    53.0
d    72.0
e    50.0
dtype: float64

In [33]:
import pandas as pd
import numpy as np
array = np.array ([10,15,18,22,55,77,42,48,97])
s = pd.Series(array)
print(s.head())
print(s.head(3))

0    10
1    15
2    18
3    22
4    55
dtype: int64
0    10
1    15
2    18
dtype: int64

In [35]:
import pandas as pd
import numpy as np
array=np.array([10,15,34,56,78,])
s=pd.Series(array)
print(s.tail())
print(s.tail(3))

0    10
1    15
2    34
3    56
4    78
dtype: int64
2    34
3    56
4    78
dtype: int64

In [36]:
import pandas as pd
import numpy as np
array=np.array([10,15,34,56,78,])
s=pd.Series(array)
print(s)
print(s.loc[:5])

0    10
1    15
2    34
3    56
4    78
dtype: int64
0    10
1    15
2    34
3    56
4    78
dtype: int64

In [37]:
import pandas as pd
import numpy as np
array=np.array([10,15,34,56,78,])
s=pd.Series(array)
print(s)
print(s.iloc[:2])
print(s.iloc[3:4])
s.iloc[2:3]

0    10
1    15
2    34
3    56
4    78
dtype: int64
0    10
1    15
dtype: int64
3    56
dtype: int64

2    34
dtype: int64

In [38]:
import pandas as pd
import numpy as np
array=np.array([10,15,34,56,78,])
s=pd.Series(array,index=['a','b','c','d','e'])
print(s)
print(s[1:5:2])
print(s[0:6:2])

a    10
b    15
c    34
d    56
e    78
dtype: int64
b    15
d    56
dtype: int64
a    10
c    34
e    78
dtype: int64

In [40]:
import pandas as pd
s = pd.Series(['a','b','c','d'])
df=pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c
3  d

In [ ]:
import pandas as pd
name=pd.Series(['hardik','virat'])
team=pd.Series